#root {
  width: 1366px;
  height: auto;
  margin: 0 auto;
  position: relative;
  /* padding: 2rem; */
  /* text-align: center; */
  --nav-bg: #5533ff;
  --nav-text: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */


/* Navbar */
nav.navigation {
  --nav-text: #fff;
  background: transparent;
  color: var(--nav-text);
  position: relative;
  width: 1080px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

ul.navigation__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

li.list--item {
  perspective: 500px;
  position: relative;
  padding: 1rem 2rem;
}

li.list--item a{
  font-weight: 500;
  font-size: 18px;
}

.item--dropdown {
  --body: #32373d;
  position: absolute;
  top: 100%;
  left: 50%;
  padding: 1rem 2.25rem;
  line-height: 3;
  color: var(--body);

  transform: translate(-50%, 0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.05s ease-out;
}

.item--dropdown.active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.15s;
}

#navigation--dropdown {
  --bg: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  background: var(--bg);
	box-shadow: 0 1px 5px -2px var(--nav-bg);
  border-radius: 3px;
  transition: all 0.2s ease-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform-origin: 50% 0;
}

#navigation--dropdown.active {
  opacity: 1;
  visibility: visible;
}

#navigation--dropdown:before {
  --bg: #fff;
  position: absolute;
  content: "";
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid var(--bg);
  border-left: 0.5rem solid transparent;
}

.Sign-In-Button a{
  color: #fff;
}

.Sign-In-Button {
  transition: .6s ease-in-out;
}

.Sign-In-Button:hover{
  background-color: #fff;
}

.Sign-In-Button:hover a{
  color: #000;
}

#sec{
  width: 1366px;
  height: 500px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  border-radius: 65% 35% 1% 99% / 0% 100% 0% 100% ;
}

#sec .Hero-Page-Header{
  position: absolute;
  top: 38%;
  left: 12.5%;
  font-size: 85px;
  font-weight: 600;
  line-height: 86px;
  width: 100px;
  height: 200px;
  z-index: 2;
}

#canv{
  position: absolute;
  top: 0;
  width: 900%;
  height: 500%;
  z-index: -1;
}

.Hero-Page-Header{
  position: absolute;
  top: 32%;
  left: 12.5%;
  font-size: 85px;
  font-weight: 600;
  line-height: 86px;
  width: 100px;
  height: 200px;
}

.Test{
  width: 200px;
  height: 200px;
  background-color: blue;
  margin-left: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
  animation: BORDER 5s ease infinite;
}

@keyframes BORDER {
  0%{
    border-radius: 25% 25% 25% 25% / 25% 25% 25% 25% ;
  }

  100%{
    border-radius: 25% 25% 25% 25% / 25% 25% 25% 25% ;
  }
}

